import /init.recovery.common.rc

on early-init
    start ueventd

on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export ADB_VENDOR_KEYS /adb_keys
    symlink /sbin/recovery /init
    chmod 755 /sbin/recovery
    write /proc/sys/kernel/panic_on_oops 1
    setprop sys.usb.config adb
    setprop persist.sys.usb.config adb

on late-init
    trigger post-fs-data

service recovery /sbin/recovery
    class recovery
    seclabel u:r:recovery:s0
    oneshot

service adbd /sbin/adbd --root_seclabel=u:r:su:s0
    seclabel u:r:adbd:s0
    disabled
    oneshot
    socket adbd stream 660 system system
    class late_start
    user root
    group root adb

on property:sys.usb.state=adb
    start adbd

